.avatar {
  border: 1px solid red;
  border-radius: 50%;
}

.header {
  nav{
    padding: 0;
  }
  a {
    color: var(--grey-dark);
    text-decoration: none;
  }

  .link {
    display: block !important;
    width: 100% !important;
  }

  &Logo {
    &:hover {
      cursor: pointer;
    }
  }
}
