.showcase {
  position: relative;
  height: 500px;
  width: 100%;

  &Filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &Text {
    z-index: 2;
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &Recap {
      font-size: 14px;
    }

    p {
      margin-bottom: 0px;
      font-weight: bold;
      color: #fff;
    }

    hr {
      border: 1px solid #fff;
      opacity: 1;
      width: 40%;
    }

    h2 {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
}
