.artist {
  background-image: url(../../assets/images/bg_artist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 300px;
  padding-top: 40px;
  color: #fff;
  text-align: left;
  padding-left: 120px;

  h3 {
    font-size: 50px;
    font-family: var(--font-avenir);
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 734px) {
  .artist {
    padding-left: 20px;
  }
}
