.artist {
  background-image: url(../../assets/images/bg_artist.jpg);
  background-size: cover;
  height: 300px;
  padding-top: 40px;
  background-position: bottom 14%;
  color: #fff;
  text-align: center;

  h3 {
    font-size: 50px;
    font-family: var(--font-avenir);
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
