.update {
  .accordion {
    width: 600px;
  }

  .btnSubmitModify {
    text-align: center;
    margin-top: 20px;
  }

  .btnTransfer {
    text-align: center;
    margin-top: 20px;
  }

  .confirmed {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .update {
    width: 100%;
    padding: 20px;
    .accordion {
      width: 100%;
    }
  }
}
