.update {
  .accordion {
    width: 600px;
  }

  .btnSubmitModify {
    text-align: center;
    margin-top: 20px;
  }

  .btnTransfer {
    text-align: center;
    margin-top: 20px;
  }

  .confirmed {
    text-align: center;
    margin-top: 20px;
  }
}
