html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #fff;
  --secondary: #ff00b1;
  --tertiary: #00bdcc;
  --font-avenir: "Avenir", sans-serif;
  --font-gotham-bold: "GothamBold", sans-serif;
  --font-gotham-book: "GothamBook", sans-serif;
  --font-minion-pro: "MinionPro", sans-serif;
  --grey-dark: #7e7d7f;
  --grey-light: #eceaec;
}

/*
  Fonts
*/

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir.otf");
}

@font-face {
  font-family: "GothamBold";
  src: url("/fonts/GothamBold.otf");
}

@font-face {
  font-family: "GothamBook";
  src: url("/fonts/GothamBook.otf");
}

@font-face {
  font-family: "MinionPro";
  src: url("/fonts/minionpro.woff");
  padding: 0px !important;
}

.btnLearnMore {
  font-family: var((--font-minion-pro));
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 40px !important;
  color: white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
